#board {
  height: 90vh;
  width: 90vh;
  box-sizing: border-box;
  display: grid;
  position: absolute;
}

#row1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 8;
}

#row2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 8;
}

#row3 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 8;
}

#row4 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 8;
}

#row5 {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 8;
}

#row6 {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 8;
}

#row7 {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: 8;
}

#row8 {
  grid-row-start: 8;
  grid-column-start: 1;
  grid-column-end: 8;
}

.dark {
  background-color: blue;
}

.light {
  background-color: gray;
}

.space {
  height: .125vh;
  width: .125vh;
}






