#board {
  height: 90vh;
  width: 90vh;
  box-sizing: border-box;
  display: grid;
  position: absolute;
  border: 2px black;
  grid-auto-flow: row;
  column-count: 8;
}

#row1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 9;
}

#row2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 9;
}

#row3 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 9;
}

#row4 {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 9;
}

#row5 {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 9;
}

#row6 {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 9;
}

#row7 {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: 9;
}

#row8 {
  grid-row-start: 8;
  grid-column-start: 1;
  grid-column-end: 9;
}

.dark {
  background-color: blue;
}

.light {
  background-color: grey;
}

.space {
  height: 12vh;
  width: 12vh;
}

#board #row1 .light .space #1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

#board #row1 .dark .space #2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

#board #row1 .light .space #3 {
  grid-row-start: 1;
  grid-column-start: 3;
}

#board #row1 .dark .space #4 {
  grid-row-start: 1;
  grid-column-start: 4;
}

#board #row1 .light .space #5 {
  grid-row-start: 1;
  grid-column-start: 5;
}

#board #row1 .dark .space #6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

#board #row1 .light .space #7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

#board #row1 .dark .space #8 {
  grid-row-start: 1;
  grid-column-start: 8;
}
/*end row 1*/

#board #row2 .dark .space #9 {
  grid-row-start: 2;
  grid-column-start: 1;
}

#board #row2 .light .space #10 {
  grid-row-start: 2;
  grid-column-start: 2;
}

#board #row2 .dark .space #11 {
  grid-row-start: 2;
  grid-column-start: 3;
}

#board #row2 .light .space #12 {
  grid-row-start: 2;
  grid-column-start: 4;
}

#board #row2 .dark .space #13 {
  grid-row-start: 2;
  grid-column-start: 5;
}

#board #row2 .light .space #14 {
  grid-row-start: 2;
  grid-column-start: 6;
}

#board #row2 .dark .space #15 {
  grid-row-start: 2;
  grid-column-start: 7;
}

#board #row2 .light .space #16 {
  grid-row-start: 2;
  grid-column-start: 8;
}
/*end row 2*/

#board #row3 .light .space #17 {
  grid-row-start: 3;
  grid-column-start: 1;
}

#board #row3 .dark .space #18 {
  grid-row-start: 3;
  grid-column-start: 2;
}

#board #row3 .light .space #19 {
  grid-row-start: 3;
  grid-column-start: 3;
}

#board #row3 .dark .space #20 {
  grid-row-start: 3;
  grid-column-start: 4;
}

#board #row3 .light .space #21 {
  grid-row-start: 3;
  grid-column-start: 5;
}

#board #row3 .dark .space #22 {
  grid-row-start: 3;
  grid-column-start: 6;
}

#board #row3 .light .space #23 {
  grid-row-start: 3;
  grid-column-start: 7;
}

#board #row3 .dark .space #24 {
  grid-row-start: 3;
  grid-column-start: 8;
}
/*end row 3*/

#board #row4 .dark .space #25 {
  grid-row-start: 4;
  grid-column-start: 1;
}

#board #row4 .light .space #26 {
  grid-row-start: 4;
  grid-column-start: 2;
}

#board #row4 .dark .space #27 {
  grid-row-start: 4;
  grid-column-start: 3;
}

#board #row4 .light .space #28 {
  grid-row-start: 4;
  grid-column-start: 4;
}

#board #row4 .dark .space #29 {
  grid-row-start: 4;
  grid-column-start: 5;
}

#board #row4 .light .space #30 {
  grid-row-start: 4;
  grid-column-start-start: 6;
}

#board #row4 .dark .space #31 {
  grid-row-start: 4;
  grid-column-start: 7;
}

#board #row4 .light .space #32 {
  grid-row-start: 4;
  grid-column-start: 8;
}
/*end row4*/

#board #row5 .light .space #33 {
  grid-row-start: 5;
  grid-column-start: 1;
}

#board #row5 .dark .space #34 {
  grid-row-start: 5;
  grid-column-start: 2;
}

#board #row5 .light .space #35 {
  grid-row-start: 5;
  grid-column-start: 3;
}

#board #row5 .dark .space #36 {
  grid-row-start: 5;
  grid-column-start: 4;
}

#board #row5 .light .space #37 {
  grid-row-start: 5;
  grid-column-start: 5;
}

#board #row5 .dark .space #38 {
  grid-row-start: 5;
  grid-column-start: 6;
}

#board #row5 .light .space #39 {
  grid-row-start: 5;
  grid-column-start: 7;
}

#board #row5 .dark .space #40 {
  grid-row-start: 5;
  grid-column-start: 8;
}
/*end row5*/

#board #row6 .dark .space #41 {
  grid-row-start: 6;
  grid-column-start: 1;
}

#board #row6 .light .space #42 {
  grid-row-start: 6;
  grid-column-start: 2;
}

#board #row6 .dark .space #43 {
  grid-row-start: 6;
  grid-column-start: 3;
}

#board #row6 .light .space #44 {
  grid-row-start: 6;
  grid-column-start: 4;
}

#board #row6 .dark .space #45 {
  grid-row-start: 6;
  grid-column-start: 5;
}

#board #row6 .light .space #46 {
  grid-row-start: 6;
  grid-column-start: 6;
}

#board #row6 .dark .space #47 {
  grid-row-start: 6;
  grid-column-start: 7;
}

#board #row6 .light .space #48 {
  grid-row-start: 6;
  grid-column-start: 8;
}
/*end row6*/

#board #row7 .light .space #49 {
  grid-row-start: 7;
  grid-column-start: 1;
}

#board #row7 .dark .space #50 {
  grid-row-start: 7;
  grid-column-start: 2;
}

#board #row7 .light .space #51 {
  grid-row-start: 7;
  grid-column-start: 3;
}

#board #row7 .dark .space #52 {
  grid-row: 7;
  grid-column-start: 4;
}

#board #row7 .light .space #53 {
  grid-row-start: 7;
  grid-column-start: 5;
}

#board #row7 .dark .space #54 {
  grid-row-start: 7;
  grid-column-start: 6;
}

#board #row7 .light .space #55 {
  grid-row-start: 7;
  grid-column-start: 7;
}

#board #row7 .dark .space #56 {
  grid-row-start: 7;
  grid-column-start: 8;
}
/*end row7*/

#board #row8 .dark .space #57 {
  grid-row-start: 8;
  grid-column-start: 1;
}

#board #row8 .light .space #58 {
  grid-row-start: 8;
  grid-column-start: 2;
}

#board #row8 .dark .space #59 {
  grid-row-start: 8;
  grid-column-start: 3;
}

#board #row8 .light .space #60 {
  grid-row-start: 8;
  grid-column-start: 4;
}

#board #row8 .dark .space #61 {
  grid-row-start: 8;
  grid-column-start: 5;
}

#board #row8 .light .space #62 {
  grid-row-start: 8;
  grid-column-start: 6;
}

#board #row8 .dark .space #63 {
  grid-row-start: 8;
  grid-column-start: 7;
}

#board #row8 .light .space #64 {
  grid-row-start: 8;
  grid-column-start: 8;
}
/*end row8*/

#attribution {
  position: fixed;
  bottom: 0;
  height: 3vh;
  width: 100vw;
  align-self: bottom;
}






