body {
  background-image: url(images/wood.jpg);
}

#board {
  height: 95vh;
  width: 95vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: auto auto;
}

.dark {
  background-color: blue;
}

.light {
  background-color: grey;
}

#attribution {
  position: fixed;
  bottom: 0;
  height: 2vh;
  width: 100vw;
  align-self: bottom;
  background-color:
}









